{{ define "main" }}
    <main id="main" class="home">
        <h1>Breakthrough Research in <br>Artificial Intelligence</h1>
        <p>
            Here, you will find a wealth of information about the latest developments and breakthroughs in the field of AI. Our team of researchers is dedicated to exploring the full potential of this technology and finding new and innovative ways to apply it to solve real-world problems.
            <br>
            <br>
            Whether you're a researcher, a student, or simply someone with an interest in AI, we hope you'll find something here that sparks your curiosity and inspires you to learn more. From natural language processing and machine learning to computer vision and robotics, our research covers a wide range of topics and applications.            
        </p>
    </main>
{{ end }}
